{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title> Baiiiiiiiiiiii !</title>
  </head>
  <body>
    <h1>Tu es trop fort mais c'est la fin {{nom}} !</h1>
  </body>
</html>
